.version.do_sth_cool /* version checker */
{
	color: #000008;
	background-color: #1DBEFD;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3483px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 50px;
	width: 0.01px;
}

#u1069
{
	z-index: 8;
	min-height: 462px;
	background-color: #F1F1F1;
	padding-bottom: 197px;
}

#pu1048-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 56px;
	margin-left: 257px;
}

#u1048-4
{
	z-index: 9;
	margin-left: 575px;
	position: relative;
}

#u1057
{
	z-index: 17;
	width: 639px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 132px;
	position: relative;
}

#u1052-4
{
	z-index: 26;
	width: 78px;
	min-height: 240px;
	background-color: transparent;
	text-transform: none;
	text-align: left;
	font-size: 200px;
	line-height: 240px;
	color: #323232;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u1045-8
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 99px;
}

#u1050-4
{
	z-index: 13;
	position: relative;
	width: 94px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 946px;
}

#u1048-4_img,#u1050-4_img
{
	display: block;
	vertical-align: top;
}

#u1069-bw
{
	z-index: 8;
	min-height: 462px;
}

#u1088-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	margin-left: 341px;
	margin-top: 343px;
	position: relative;
}

#u1066
{
	z-index: 52;
	min-height: 503px;
	background-color: #95ECDD;
	padding-bottom: 57px;
}

#u1054
{
	z-index: 53;
	width: 825px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 165px;
}

#u1054_img
{
	padding-right: 1px;
}

#u1066-bw
{
	z-index: 52;
	min-height: 503px;
	margin-top: 37px;
}

#u1081
{
	z-index: 7;
	min-height: 380px;
	background-color: #FED545;
	padding-bottom: 74px;
}

#u1069_align_to_page,#u1066_align_to_page,#u1081_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1078
{
	z-index: 55;
	width: 445px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 100px;
}

#u1093-7
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 588px;
}

.js #u1093-7.ose_pre_init
{
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

#u1081-bw
{
	z-index: 7;
	min-height: 380px;
}

#u1087-4
{
	z-index: 57;
	display: block;
	vertical-align: top;
	margin-left: 767px;
	margin-top: 28px;
	position: relative;
}

#u1094-4
{
	z-index: 72;
	display: block;
	vertical-align: top;
	margin-left: 343px;
	margin-top: 148px;
	position: relative;
}

#pu1119
{
	width: 0.01px;
	margin-top: 48px;
}

#u1119
{
	z-index: 2;
	width: 156px;
	background-color: #55FBC2;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u1108-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 16px;
}

#u1114-6
{
	z-index: 102;
	width: 144px;
	min-height: 65px;
	background-color: transparent;
	line-height: 32px;
	text-align: center;
	font-size: 18px;
	color: #1D1D1D;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 210px;
}

#u1120
{
	z-index: 4;
	width: 156px;
	background-color: #55FBC2;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	left: 407px;
}

#u1110-4
{
	z-index: 84;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 5px;
}

#u1116-6
{
	z-index: 113;
	width: 146px;
	min-height: 32px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 628px;
}

#u1121
{
	z-index: 6;
	width: 156px;
	background-color: #55FBC2;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 807px;
}

#u1111-4
{
	z-index: 88;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#pu1113-6
{
	width: 0.01px;
	margin-top: 21px;
}

#u1113-6
{
	z-index: 96;
	width: 156px;
	min-height: 38px;
	background-color: transparent;
	line-height: 32px;
	text-align: center;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u1113-4
{
	color: #42410B;
}

#u1122
{
	z-index: 3;
	width: 156px;
	background-color: #55FBC2;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	left: 202px;
}

#u1109-4
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 20px;
}

#u1115-5
{
	z-index: 108;
	width: 143px;
	min-height: 50px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 413px;
}

#u1123
{
	z-index: 5;
	width: 156px;
	background-color: #55FBC2;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	left: 623px;
}

#u1112-4
{
	z-index: 92;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 21px;
}

#u1118-6
{
	z-index: 119;
	width: 146px;
	min-height: 32px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 814px;
}

#pu1077-4
{
	width: 0.01px;
	margin-left: 178px;
	margin-top: 754px;
}

#u1077-4
{
	z-index: 48;
	width: 50px;
	min-height: 146px;
	background-color: transparent;
	text-transform: none;
	text-align: left;
	font-size: 120px;
	line-height: 144px;
	color: #323232;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#u1064-18
{
	z-index: 30;
	width: 583px;
	min-height: 97px;
	background-color: transparent;
	line-height: 43px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 71px;
}

#u1113-2,#u1064,#u1064-4,#u1064-7,#u1064-10,#u1064-12,#u1064-15
{
	color: #1D1D1D;
}

.js #u1054.ose_pre_init,.js #u1064-18.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

