.rss-date
{
	font-family: source-sans-pro-i3, sans-serif;
}

.rss-title
{
	font-family: source-sans-pro-n6, sans-serif;
}

.rss-paragraph
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u891-9,#u891-15,#u891-18,#u891-21
{
	font-family: source-sans-pro-n4, sans-serif;
}

