.version.index /* version checker */
{
	color: #0000E9;
	background-color: #FE5BB2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 694px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 311px;
	margin-left: auto;
	margin-right: auto;
}

#u350-4
{
	z-index: 6;
	width: 122px;
	min-height: 32px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: fixed;
	top: 36px;
	left: 100px;
}

#u349-4
{
	z-index: 2;
	width: 920px;
	min-height: 183px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #1D1D1D;
	line-height: 168px;
	text-align: left;
	font-size: 140px;
	position: fixed;
	top: 205px;
	left: 20px;
}

#u352-4
{
	z-index: 14;
	width: 920px;
	min-height: 32px;
	background-color: transparent;
	font-size: 48px;
	line-height: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 636px;
	left: 20px;
}

#u351-4
{
	z-index: 10;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: fixed;
	top: 36px;
	right: 100px;
}

#u350,#u351
{
	font-size: 24px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

