.version.index /* version checker */
{
	color: #00000E;
	background-color: #F16C01;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 167px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 636px 20px 202px;
}

#u364-4
{
	z-index: 14;
	width: 79px;
	min-height: 32px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: fixed;
	top: 56px;
	left: 120px;
}

#u351-4
{
	z-index: 6;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: fixed;
	top: 56px;
	right: 120px;
}

#u364,#u351
{
	font-size: 24px;
}

#u349-4
{
	z-index: 2;
	width: 920px;
	min-height: 183px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #1D1D1D;
	line-height: 168px;
	text-align: left;
	font-size: 140px;
	position: fixed;
	top: 205px;
	left: 20px;
}

#u352-4
{
	z-index: 10;
	width: 920px;
	min-height: 32px;
	background-color: transparent;
	font-size: 48px;
	line-height: 58px;
	position: relative;
}

#u366-4
{
	z-index: 18;
	width: 920px;
	min-height: 32px;
	background-color: transparent;
	font-size: 48px;
	line-height: 58px;
	margin-top: 51px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

