body {
  margin:0; 
  margin:auto;
  background-color: FFD1D1;
  background:rgb(255, 209, 209);
  color: white;
  font-family:helvetica, serif; 

} 


a {outline:none !important; font-weight:bold; text-decoration:none;}

a:link {color:white;}    /* 未被访问的链接 */
a:visited {color:white;} /* 已被访问的链接 */
a:hover {color: FCC2C2;}   /* 鼠标指针移动到链接上 */
a:active {color: FCC2C2;}  /* 正在被点击的链接 */

#about a:link {color:white;}    /* 未被访问的链接 */
#about a:visited {color:white;} /* 已被访问的链接 */
#about a:hover {color: ACB0F1;}   /* 鼠标指针移动到链接上 */
#about a:active {color: ACB0F1;}  /* 正在被点击的链接 */

h1 {
  font-size:36;
  line-height:0.8;
  font-style:normal;
  font-weight:normal;
  margin-top: 0;
  font-family: LucidaGrande;
}

h2{
	font-size: 20;
	color: white;
	line-height:0.5;
	font-family: OCRAStd;
	font-weight:normal;
}

h3{
	font-size: 16;
	color: white;
	line-height:0.8;
	font-family: OCRAStd;
	font-weight:normal;
}

h4{
	font-size: 30;
	color: white;
	line-height:1.5;
	font-family: LucidaGrande;
	font-weight:normal;
}

#logo{
	text-align: center;
	padding-top: 25%;
	display: block;
	height: 50%;
}
#logo2{
	padding: 40;
}
#work{
/*	display: inline;*/
	width: 70%;
	background-image: url(../img/bg1.png) ;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 600px;
	float: left;
}


#about{
	background-image: url(../img/bg2.png) ;
	background-color: D8D9F7;
	background-repeat: no-repeat;
	background-size:400px 400px;
	background-position:center;
/*	display: inline;*/
	width: 30%;
	float: left;
	height: 100%;

}
.title{
	margin-left: 40;
	margin-top: 90;
	margin-right: 20;
}
.title2{
	margin-left: 40;
	margin-top: 160;
}
.work2{
	margin-left: 40;
	margin-top: 400;
}


