.version.index /* version checker */
{
	color: #000018;
	background-color: #CD69F8;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 366px;
	min-height: 1581px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-right: 14px;
	padding-bottom: 75px;
}

#home
{
	position: relative;
}

#u1008
{
	z-index: 49;
	overflow: hidden;
	margin-left: 328px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u394-4
{
	z-index: 30;
	width: 226px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	margin-left: 14px;
	margin-top: 42px;
	position: relative;
}

#u394
{
	font-size: 24px;
}

#u1011
{
	z-index: 50;
	width: 352px;
	background-color: transparent;
	margin-left: 14px;
	margin-top: 34px;
	position: relative;
}

#u397-4
{
	z-index: 34;
	width: 352px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	margin-left: 14px;
	margin-top: 8px;
	position: relative;
}

#u1018
{
	z-index: 54;
	width: 352px;
	background-color: transparent;
	margin-left: 14px;
	margin-top: 25px;
	position: relative;
}

#u398-4
{
	z-index: 38;
	width: 352px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	margin-left: 14px;
	margin-top: 25px;
	position: relative;
}

#u1015
{
	z-index: 52;
	width: 259px;
	background-color: transparent;
	margin-left: 60px;
	margin-top: 24px;
	position: relative;
}

#u1021-4
{
	z-index: 42;
	width: 352px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	margin-left: 14px;
	margin-top: 2px;
	position: relative;
}

#about
{
	margin-left: 14px;
	margin-top: 71px;
	position: relative;
}

#u106-16
{
	z-index: 2;
	width: 352px;
	min-height: 104px;
	background-color: transparent;
	line-height: 35px;
	font-size: 24px;
	margin-left: 14px;
	margin-top: 62px;
	position: relative;
}

#u106-14
{
	color: #FFFFFF;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
}

#u106-2,#u106-4,#u106-6,#u106-7,#u106-9,#u106-10,#u106-13
{
	color: #1D1D1D;
}

#pu283-4
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 23px;
}

#u283-4
{
	z-index: 18;
	width: 68px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u283-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u285-4
{
	z-index: 26;
	width: 81px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#u285-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u284-4
{
	z-index: 22;
	width: 89px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#u284-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 29px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u283-4:hover p,#u283-4:hover span,#u285-4:hover p,#u285-4:hover span,#u284-4:hover p,#u284-4:hover span
{
	text-decoration: none;
}

#u283,#u285,#u284
{
	text-decoration: underline;
}

#u405
{
	z-index: 47;
	overflow: hidden;
	margin-left: 173px;
	margin-top: 50px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

